:host {
  position: relative;
  display: block;
}
#demoApp {
  max-width: 600px;
  padding-top: 40px;
  .demo-container {
    .github-logo{
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
      img {
        width: 40px;
        transform: rotate(45deg);
      }
      &:hover {
        img {
          opacity: 0.6;
        }
      }
    }
    .badges {
      a {
        margin-left: 4px;
        margin-right: 4px;
      }
    }
  }

  .device-icon {
    text-align: center;
    padding: 20px;

    .fa {
      font-size: 100px;
    }
  }
}
